.Home {
    background-color: #b61c29;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: rgb(0, 60, 255);
    background-color: whitesmoke;
 }

 .login-button{
    background-color: #020c0cee;
    color: rgb(251, 253, 253);
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 25px;
    font-size: 14px;
  }

  .register-button{
    background-color:#020c0cee;
    color:  rgb(251, 253, 253);
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 25px;
    font-size: 14px;
  }
  
  .profile-button{
    background-color:#020c0cee;
    color:  rgb(251, 253, 253);
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 25px;
    font-size: 14px;
  }

  .donor-button{
    background-color:#020c0cee;
    color: rgb(251, 253, 253);
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 25px;
    font-size: 14px;
  }