.Home {
    background-color: #b61c29;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: rgb(0, 60, 255);
    background-image: url("./fondo.jpeg");
    background-repeat: no-repeat;
  background-size: cover;
 }

 .login-button{
    background-color: #5d9b9b;
    color: rgb(12, 11, 11);
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    font-size: 20px;
  }

  .register-button{
    background-color: #faea0a;
    color: rgb(12, 11, 11);
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    font-size: 20px;
  }
  
  .profile-button{
    background-color: #ff0d05;
    color: rgb(12, 11, 11);
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    font-size: 20px;
  }

  .donor-button{
    background-color: #05ff26;
    color: rgb(12, 11, 11);
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    font-size: 20px;
  }