.login{
  
  border-radius: 5px;
  padding: 17px;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fffdfd;
  border-bottom-color: white;
  border: 5px solid #f6f6f8;
  transform: translate(-50%,-50%);
  background-color: rgb(10, 10, 10);
 
  }

  .style-button:hover{
   
    background-color:#020c0cee;
    border-color: white;
    border-bottom-color: white;
    color:  rgb(251, 253, 253);
    border: 2px solid #f6f6f8;
    border-radius: 50px;
    width: 100px;
    height: 25px;
    font-size: 14px;
    font-weight: 600;
    background-position: center;
    
  }

  body{
    background: #050505;
  }


