.profile {
    border-radius: 5px;
    padding: 17px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fffdfd;
    border-bottom-color: white;
    border: 5px solid #f6f6f8;
    transform: translate(-50%,-50%);
    background-color: rgb(10, 10, 10);
   
}

.MainPageMiddle {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
}